Visual C++ Redistributable 2015-2019
MINIMUM
CPU: AMD Athlon 64 X2 4000+
CPU Speed: 2.10 GHz
GPU: GT 430 1GB Gainward Edition
RAM: 3 GB DDR2 600 MHz
OS: Windows 7 64 Bit Service Pack 1 or later
Free Disk Space: 20MB